<template>
  <div>
    <div class="card__container">
      <h3>Out of ideas?</h3>
      <nuxt-link to="/checkout/personalization">
        <div class="card__container color is-neumorph--colorPrimary">
          get a tururu
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
}
</script>