<template>
  <div>
    <div class="card__container">
      <h1>where do you want us to send it?</h1>
      <div class="txt-is-error" v-if="errors.length">please check the fields highlighted in red beore proceeding</div>
      <label for="firstName">first name</label>
      <input
        class="input__field"
        :class="(errors.includes('firstName') ? 'input__field--error' : '')"
        type="text"
        id="firstName"
        placeholder="John"
        v-model="deliveryData.firstName"
      />
      <label for="lastName">last name</label>
      <input
        :class="(errors.includes('lastName') ? 'input__field--error' : '')"
        class="input__field"
        type="text"
        id="lastName"
        placeholder="Doe"
        v-model="deliveryData.lastName"
      />
      <label for="street">street</label>
      <input
        class="input__field"
        :class="(errors.includes('street') ? 'input__field--error' : '')"
        type="text"
        id="street"
        placeholder="tururu lane 123"
        v-model="deliveryData.street"
      />
      <label for="zipCode">ZIP Code</label>
      <input
        class="input__field"
        :class="(errors.includes('zipCode') ? 'input__field--error' : '')"
        type="text"
        id="zipCode"
        placeholder="ABC 123"
        v-model="deliveryData.zipCode"
      />
      <label for="city">city</label>
      <input
        class="input__field"
        :class="(errors.includes('city') ? 'input__field--error' : '')"
        type="text"
        id="city"
        placeholder="Honolulu"
        v-model="deliveryData.city"
      />
      <label for="country">country</label>
      <input
        class="input__field"
        :class="(errors.includes('country') ? 'input__field--error' : '')"
        type="text"
        id="country"
        placeholder="Hawaii, USA"
        v-model="deliveryData.country"
      />
    </div>
    <div class="grid__container--2c">
      <!-- <nuxt-link to="/checkout/personlization">
        <div class="card__container color is-neumorph--colorDark is-dark is-mini">go back</div>
      </nuxt-link>
      <div
        class="card__container color is-neumorph--colorPrimary is-mini"
        @click="checkForward"
      >next</div> -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      deliveryData: {
        firstName: '',
        lastName: '',
        street: '',
        zipCode: '',
        city: '',
        country: ''
      },
      errors: []
    }
  },
  methods: {
    checkForward: function() {
      for (let [key, value] of Object.entries(this.deliveryData)) {
        if (!value) {
          this.errors.push(key)
        }
      }
      if (this.errors.length === 0) {
        this.$router.push({ path: '/checkout/payment' })
      }
    }
  },
  mounted() {
    // on creation of this component get the current reaction to
    // the active piece from localstorage (should it exist)
    try {
      const histData = JSON.parse(localStorage.getItem('vuex')).checkout
        .deliveryData
      if (histData) {
        this.deliveryData = histData
        this.$store.dispatch('checkout/SET_DELIVERY_DATA', this.deliveryData)
      }
    } catch (e) {
      console.error('error getting data from localstorage', e)
    }
  },
  beforeDestroy() {
    this.$store.dispatch('checkout/SET_DELIVERY_DATA', this.deliveryData)
  }
}
</script>

<style>
</style>