<template>
  <div>
    <PaymentData :editable="true"></PaymentData>
    <div class="grid__container--2c">
      <nuxt-link to="/checkout/delivery">
        <div class="card__container color is-neumorph--colorDark is-dark is-mini">go back</div>
      </nuxt-link>
      <nuxt-link to="/checkout/summary">
        <div class="card__container color is-neumorph--colorPrimary is-mini">summarize</div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import PaymentData from '@/components/PaymentData'

export default {
  components: {
    PaymentData
  }
}
</script>

<style>
</style>