<template>
  <div>
    <div class="card__container">
      <h2>shopping list</h2>
      <div class="grid__container--3c">
        <div>1x</div>
        <div>tururu</div>
        <div>10,00 EUR</div>
      </div>
      <div class="grid__container--3c">
        <div>1x</div>
        <div>shipping</div>
        <div>0,00 EUR</div>
      </div>
      <div class="grid__container--3c">
        <div></div>
        <div>total</div>
        <div>10,00 EUR</div>
      </div>
    </div>
    <div class="card__container" style="position: relative">
      <h1>delivery situation</h1>
      <div v-for="(dItem, dKey, index) in deliveryData" :key="index">
        <div>{{ dKey }}</div>
        <div>{{ dItem }}</div>
      </div>
      <nuxt-link to="/checkout/delivery" style="position: absolute; top:0.5rem; right:0.5rem;">
        change
      </nuxt-link>
    </div>
    <div class="card__container" style="position: relative">
      <h1>payment situation</h1>
      <PaymentData :editable="false"></PaymentData>
      <nuxt-link to="/checkout/payment" style="position: absolute; top:0.5rem; right:0.5rem;">
        change
      </nuxt-link>
    </div>
    <nuxt-link to="/checkout/confirmation">
      <div class="card__container color is-neumorph--colorPrimary is-mini">order now !!!!!</div>
    </nuxt-link>
  </div>
</template>

<script>
import PaymentData from '@/components/PaymentData'

export default {
  components: {
    PaymentData
  },
  computed: {
    deliveryData: function() {
      return this.$store.state.checkout.deliveryData
    },
    paymentData: function() {
      return this.$store.state.checkout.paymentData
    },
    paymentProvider: function() {
      return this.$store.state.checkout.paymentProvider
        ? this.$store.state.checkout.paymentProvider
        : 'null'
    }
  },
  mounted() {
    console.log(this.$store)
  }
}
</script>

<style>
</style>