<template>
  <div>
    <div
      class="card__container"
      :class="(selectedPaymentProvider ? 'payment-container--' + selectedPaymentProvider : '')"
    >
      <div class="grid__container--3c" v-if="editable">
        <div
          class="payment-container card__container is-dark is-mini"
          :class="'payment-container--' + paymentProvider"
          v-for="paymentProvider in allPaymentProviders"
          :key="paymentProvider"
          @click="toggleSelected(paymentProvider)"
        >
          <div
            class="payment-container__image"
            :style="'background-image: url(/logos/' + paymentProvider + '.svg)'"
          ></div>
        </div>
      </div>
      <!-- START: payment provider for credit cards  -->
      <div v-if="selectedPaymentProviderType == 'creditCard'">
        <div v-if="editable">
          <label for="number">Card Number</label>
          <input
            class="input__field"
            type="text"
            id="number"
            placeholder="xxxx-xxxx-xxxx-xxxx"
            v-model="creditCard.number"
          />
          <label for="cardHolder">Card Holder Name</label>
          <input
            class="input__field"
            type="text"
            id="cardHolder"
            placeholder="John Smithers"
            v-model="creditCard.cardHolder"
          />
          <label for="expiryMonth">Expiry Month</label>
          <input
            class="input__field"
            type="number"
            min="1"
            max="12"
            id="expiryMonth"
            placeholder="12"
            v-model="creditCard.expiryMonth"
          />
          <label for="expiryYear">Expiry Year</label>
          <input
            class="input__field"
            type="number"
            min="2020"
            max="2300"
            id="expiryYear"
            placeholder="2023"
            v-model="creditCard.expiryYear"
          />
          <label for="ccv">CCV</label>
          <input
            class="input__field"
            type="password"
            min="0"
            max="999"
            id="ccv"
            placeholder="123"
            v-model="creditCard.ccv"
          />
        </div>
        <div v-else>
          <label for="number">Card Number</label>
          <div>{{ creditCard.number }}</div>
          <label for="cardHolder">Card Holder Name</label>
          <div>{{ creditCard.cardHolder }}</div>
          <label for="expiryMonth">Expiry Month</label>
          <div>{{ creditCard.expiryMonth }}</div>
          <label for="expiryYear">Expiry Year</label>
          <div>{{ creditCard.expiryYear }}</div>
          <label for="ccv">CCV</label>
          <div>{{ creditCard.ccv }}</div>
        </div>
      </div>
      <!-- END: payment provider for credit cards  -->

      <!-- START: payment provider for paypal  -->
      <div v-if="selectedPaymentProviderType == 'paypal'">paypal is not ready as payment yet :(</div>
      <!-- END: payment provider for paypal  -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    editable: Boolean
  },
  data() {
    return {
      creditCardProviders: ['visa', 'mastercard'],
      payPalProvider: ['paypal'],
      selectedPaymentProvider: undefined,
      creditCard: {
        number: undefined,
        ccv: undefined,
        cardHolder: undefined,
        expiryMonth: undefined,
        expiryYear: undefined
      },
      paypal: {
        email: undefined
      }
    }
  },
  computed: {
    allPaymentProviders: function() {
      if (this.creditCardProviders && this.payPalProvider) {
        return [...this.creditCardProviders, ...this.payPalProvider]
      }
    },
    selectedPaymentProviderType: function() {
      if (this.creditCardProviders.includes(this.selectedPaymentProvider)) {
        return 'creditCard'
      } else if (this.payPalProvider.includes(this.selectedPaymentProvider)) {
        return 'paypal'
      }
    }
  },
  methods: {
    toggleSelected: function(paymentProvider) {
      this.selectedPaymentProvider = paymentProvider
    },
    getPaymentType: function(paymentProvider) {
      if (this.payPalProvider.includes(paymentProvider)) {
        return 'paypal'
      } 
      return 'creditCard'
    }
  },
  mounted() {
    // on creation of this component get the current reaction to
    // the active piece from localstorage (should it exist)
    try {
      const histProvider = JSON.parse(localStorage.getItem('vuex')).checkout
        .selectedPaymentProvider
      if (histProvider) {
        this.selectedPaymentProvider = histProvider
        this.$store.dispatch(
          'checkout/SET_PAYMENT_PROVIDER',
          this.selectedPaymentProvider
        )
      }
      const histData = JSON.parse(localStorage.getItem('vuex')).checkout
        .paymentData
      console.log(histData)
      if (histData) {
        if (this.getPaymentType(histProvider) === 'creditCard') {
          this.creditCard = histData
        } else {
          this.paypal = histData
        }
        this.$store.dispatch('checkout/SET_PAYMENT_DATA', this.paymentData)
      }
    } catch (e) {
      console.error('error getting data from localstorage', e)
    }
  },
  beforeDestroy() {
    const pType = this.getPaymentType(this.selectedPaymentProviderType)
    console.log(pType)
    if (pType === 'creditCard') {
      this.$store.dispatch('checkout/SET_PAYMENT_DATA', this.creditCard)
    } else {
      this.$store.dispatch('checkout/SET_PAYMENT_DATA', this.paypal)
    }
    this.$store.dispatch(
      'checkout/SET_PAYMENT_PROVIDER',
      this.selectedPaymentProvider
    )
  }
}
</script>

<style>
</style>